.poster {
	flex: 0 1 74%;
	margin-bottom: 2rem;
	padding: 3rem;
	border-radius: 1rem;
	background: $dark-blue;
	color: $white;

	@include _1200 {
		flex-basis: 100%;
	}

	&__title {
		font-size: 12rem;
		color: $very-light;
		margin-bottom: 1rem;
		text-align: center;

		@include _979 {
			font-size: 9.8rem;
		}

		@include _768 {
			font-size: 6.9rem;
		}

		@include _576 {
			font-size: 5.4rem;
		}

		@include _480 {
			font-size: 3.4rem;
		}

		@include _350 {
			font-size: 2.4rem;
		}
	}

	&__product {
		position: relative;
	}

	&__subtitle {
		text-transform: uppercase;
		font-weight: 200;
		color: $light;
		margin-bottom: 1rem;

		@include _480 {
			font-size: 1.5rem;
		}

		@include _350 {
			font-size: 1.3rem;
		}
	}

	&__head {
		width: 67%;
		font-size: 4.5rem;
		line-height: 5.5rem;
		margin-bottom: 3rem;
		text-transform: uppercase;

		@include _979 {
			font-size: 4rem;
		}

		@include _768 {
			width: 65%;
			font-size: 2.7rem;
			line-height: 3rem;
		}

		@include _576 {
			width: 60%;
			font-size: 2rem;
			line-height: 2.5rem;
		}

		@include _480 {
			font-size: 1.8rem;
			line-height: 2.3rem;
		}

		@include _350 {
			font-size: 1.4rem;
			line-height: 1.6rem;
		}
	}

	&__button {
		padding: 1rem 3rem;
		border-radius: 1rem;
		font-weight: 600;
		background: $yellow;
		color: $white;
		transition: all .3s;

		@include _350 {
			width: 100%;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		right: 0;
		width: 350px;

		@include _979 {
			width: 290px;
		}

		@include _768 {
			width: 220px;
		}

		@include _576 {
			width: 180px;
		}

		@include _480 {
			top: 30px;
			width: 100px;
		}

		@include _350 {
			width: 50px;
		}
	}
}

/* MEDIA */
@media (hover: hover) {
	.poster__button:hover {
		background: $light-yellow;
	}
}