/* Colors */
$dark: #262626;
$dark-blue: #001529;
$blue: #155c9e;
$light-blue: #155c9e98;
$white: #ffff;
$light: #e1dcdc;
$very-light: #e1dcdc35;
$green: #22b600;
$light-green: #21b60027;
$red: #cc2d30;
$light-red: #cc2d3027;
$violet: #554179;
$light-violet: #b38df9;
$yellow: #fad02c;
$light-yellow: #fad12c76;
$grey: #808080;


$header-height--desktop: 90px;
$header-height--tablets: 130px;
$footer-height: 60px;